// Typography
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 13px;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: $lightGrayishBlue;
  height: 100%;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  @include media(">1100px") {
    overflow: hidden;
  }
}

@keyframes down {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes right {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
